<?xml version="1.0"?>
<siteconfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <webname>儿童棋院对弈平台</webname>
  <weburl>http://www.ertonggo.com</weburl>
  <weblogo>/upload/201412/14/201412141253257532.jpg</weblogo>
  <webcompany />
  <webaddress />
  <webtel />
  <webfax>-</webfax>
  <webmail>info@it134.cn</webmail>
  <webcrod>粤ICP备11064298号</webcrod>
  <webtitle>儿童棋院对弈平台</webtitle>
  <webkeyword />
  <webdescription />
  <webcopyright />
  <webpath>/</webpath>
  <webmanagepath>admin</webmanagepath>
  <staticstatus>0</staticstatus>
  <staticextension>html</staticextension>
  <memberstatus>1</memberstatus>
  <commentstatus>0</commentstatus>
  <logstatus>1</logstatus>
  <webstatus>1</webstatus>
  <webclosereason>网站正在维护中，请稍候访问……</webclosereason>
  <webcountcode />
  <smsapiurl>http://sms.dtcms.net/httpapi/</smsapiurl>
  <smsusername>test</smsusername>
  <smspassword>e10adc3949ba59abbe56e057f20f883e</smspassword>
  <emailsmtp>smtp.exmail.qq.com</emailsmtp>
  <emailport>465</emailport>
  <emailfrom>service@ertonggo.com</emailfrom>
  <emailusername>service@ertonggo.com</emailusername>
  <emailpassword>7B93DF3EBD69423CCD4C9FEDC3236E55</emailpassword>
  <emailnickname>儿童棋院</emailnickname>
  <filepath>upload</filepath>
  <filesave>2</filesave>
  <fileextension>gif,jpg,png,bmp,rar,zip,doc,xls,txt</fileextension>
  <attachsize>51200</attachsize>
  <imgsize>10240</imgsize>
  <imgmaxheight>800</imgmaxheight>
  <imgmaxwidth>800</imgmaxwidth>
  <thumbnailheight>300</thumbnailheight>
  <thumbnailwidth>300</thumbnailwidth>
  <watermarktype>0</watermarktype>
  <watermarkposition>9</watermarkposition>
  <watermarkimgquality>80</watermarkimgquality>
  <watermarkpic>watermark.png</watermarkpic>
  <watermarktransparency>5</watermarktransparency>
  <watermarktext>动力启航</watermarktext>
  <watermarkfont>Tahoma</watermarkfont>
  <watermarkfontsize>12</watermarkfontsize>
  <sysdatabaseprefix>dt_</sysdatabaseprefix>
  <sysencryptstring>DTcms</sysencryptstring>
</siteconfig>